* {
    border: none;
    border-radius: 0px;
    min-height: 0;
	font-family: 'JetBrains Mono', 'Hack Nerd Font', 'UbuntuMono', monospace;
    font-weight: 500;
    font-size: 13.5px;
    padding: 0;
}

window#waybar {
    background-color: #2e3436;
}

tooltip {
    background-color: #2e3436;
    border: 1.6px solid #d3d7cf;
    color: #ffffff;
}

#clock,
#tray,
#battery,
#network,
#backlight,
#pulseaudio {
    padding: 2px 6.5px;
    color: #ffffff;
}

#workspaces {
    margin: 0px 2px;
    padding: 2px 6.4px;
}

#workspaces button {
    all: initial;
    min-width: 0;
    box-shadow: inset 0 -2.4px transparent;
    padding: 1.6px 3.2px;
    color: #eeeeee;
    border-radius: 0px;
}

#workspaces button.active {
    border-radius: 0px;
}

#workspaces button.focused {
    color: #ffffff;
    font-weight: bold;
}

#workspaces button.urgent {
    background-color: #ff5c5c;  /* Soft red for urgency */
    color: #ffffff;
}

#workspaces button:hover {
    opacity: 0.5;
}

/* -----------------------------------------------------------------------------
* Pulseaudio and Backlight
* -------------------------------------------------------------------------- */

#pulseaudio,
#backlight {
    font-size: 13.5px;
    margin: 0 0;
}

/* -----------------------------------------------------------------------------
* Battery
* -------------------------------------------------------------------------- */

#battery {
    font-size: 17px;
    margin: 0 10px 0 0;
}

#battery.charging {
    color: lightgreen;
}

#battery.warning {
    color: #dca561;
}

#battery.critical {
    color: #e82424;
}

/* -----------------------------------------------------------------------------
* Custom modules
* -------------------------------------------------------------------------- */

#custom-launcher {
	color: white;
	font-weight: bold;
    font-size: 15px;
    margin: 0px 2px;
    padding: 1.6px 6.4px;
}

#custom-cava {
	color: white;
	margin: 0px 2px;
	padding: 1.6px 6.4px;
}
